<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ncu.dao.mapper.ReloadItemMapper">
    <update id="update">
        update reload_item
        <set>
            <if test="args !=null and args !=''">
                args=#{args},
            </if>
            <if test="identification !=null and identification !=''">
                identification=#{identification},
            </if>
            <if test="updateTime !=null ">
                update_time=#{updateTime},
            </if>
        </set>
            where tag=#{tag}
    </update>

</mapper>