<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ncu.dao.mapper.SystemConfigMapper">

    <resultMap id="systemConfigMap" type="cn.edu.ncu.dao.entity.SystemConfig"></resultMap>
    <sql id="queryByPageWhere">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="queryDTO.key != null and queryDTO.key != ''">
                <bind name="keyLike" value=" '%' + queryDTO.key +'%' "></bind>
                AND config_key LIKE #{keyLike}
            </if>
            <if test="queryDTO.configGroup != null and queryDTO.configGroup != ''">
                <bind name="configGroupLike" value=" '%' + queryDTO.configGroup +'%' "></bind>
                AND config_group like #{configGroupLike}
            </if>
        </trim>
    </sql>
    <sql id="orderByPage">
        <if test="queryDTO.orders !=null and queryDTO.orders.size()>0">
            order by
            <foreach collection="idList"  separator="," item="item">
                ${item.column}
                <choose>
                    <when test="item.asc">
                        asc
                    </when>
                    <otherwise>
                        desc
                    </otherwise>
                </choose>
            </foreach>
        </if>

        LIMIT ${(queryDTO.pageNum - 1) * queryDTO.pageSize},#{queryDTO.pageSize}
    </sql>
    <update id="update">
        update system_config
        <set>
            <if test="configKey !=null and configKey !=''">
                config_key=#{configKey},
            </if>
            <if test="configValue !=null and configValue !=''">
                config_value=#{configValue},
            </if>
            <if test="configName !=null and configName !=''">
                config_name=#{configName},
            </if>
            <if test="configGroup !=null and configGroup !=''">
                config_group=#{configGroup},
            </if>
            <if test="isUsing !=null ">
                is_using=#{isUsing},
            </if>
            <if test="remark !=null and remark !=''">
                remark=#{remark},
            </if>
            <if test="updateTime !=null ">
                update_time=#{updateTime},
            </if>
        </set>
        where id=#{id}
    </update>
    <select id="queryCount" resultType="integer">
        select count(*) from system_config
        <include refid="queryByPageWhere"/>
    </select>
<!--    <select id="selectAll" resultMap="systemConfigMap">-->
<!--        select * from system_config-->
<!--    </select>-->

    <!-- 查询所有系统配置(分页) -->
    <select id="selectSystemSettingList" resultMap="systemConfigMap">
        SELECT
            id,
            config_name,
            config_key,
            config_value,
            config_group,
            is_using,
            remark,
            create_time,
            update_time
        FROM
            system_config
        <include refid="queryByPageWhere"/>
        <include refid="orderByPage"/>
    </select>
    <select id="getListByGroup" resultMap="systemConfigMap">
        SELECT
        id,
        config_name,
        config_key,
        config_value,
        config_group,
        is_using,
        remark,
        create_time,
        update_time
        FROM
        system_config where config_group= #{group}
    </select>
    <!-- 根据key查询获取数据 -->
    <select id="getByKey" resultMap="systemConfigMap">
        SELECT
            id,
            config_name,
            config_key,
            config_value,
            config_group,
            is_using,
            remark,
            create_time,
            update_time
        FROM
            system_config
        WHERE
            config_key = #{key}
    </select>



    <select id="getByKeyExcludeId" resultMap="systemConfigMap">
        SELECT
        id,
        config_name,
        config_key,
        config_value,
        config_group,
        is_using,
        remark,
        create_time,
        update_time
        FROM
        system_config
        WHERE
        config_key = #{key} and id &lt;&gt; #{excludeId}
    </select>

    <select id="selectByKeyAndGroup" resultMap="systemConfigMap">
        SELECT
        id,
        config_name,
        config_key,
        config_value,
        config_group,
        is_using,
        remark,
        create_time,
        update_time
        FROM
        system_config
        WHERE  config_group = #{group} AND config_key =  #{configKey}
    </select>
</mapper>