<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ncu.dao.mapper.ThesaurusMapper">
  <resultMap id="BaseResultMap" type="cn.edu.ncu.dao.entity.Thesaurus">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="word" jdbcType="VARCHAR" property="word" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <select id="selectWordsByType" resultType="java.lang.String">
    select word from thesaurus
    <where>
      <if test="type!=null and type!=-1">
        `type` = #{type}
      </if>
    </where>
  </select>
  <select id="selectDTOsByType" resultType="cn.edu.ncu.pojo.dto.ThesaurusDTO">
    select word,`type` from thesaurus
    <where>
      <if test="type!=null and type!=-1">
        `type` = #{type}
      </if>
    </where>
  </select>
</mapper>